.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.header h1 {
    margin: 0;
    font-size: 40px;
  }
  
.header p {
    margin: 0;
    font-size: 20px;
    color: #aaa;
}
  